---
name: pterodactyl Panel Gameserver - BETA
version: 0.11.2
slug: pterodactyl_panel
description: Open-Source Gameserver - Currently not fully working
url: https://github.com/FaserF/hassio-addons/tree/master/pterodactyl-panel
arch:
  - aarch64
  - amd64
image: ghcr.io/faserf/hassio-addons-pterodactyl_panel-{arch}
services:
  - mysql:need
webui: "[PROTO:ssl]://[HOST]:[PORT:80]"
map:
  - share:rw
  - ssl
ingress: true
init: false
panel_icon: mdi:controller
options:
  password: ""
  ssl: false
  certfile: fullchain.pem
  keyfile: privkey.pem
  log_level: info
  app_url: "http://pterodactyl.local"
schema:
  password: password
  ssl: bool
  certfile: str
  keyfile: str
  log_level: list(trace|debug|info|notice|warning|error|fatal)
  app_url: str
  reset_database: bool?
  reset_database_confirm: bool?
ports:
  443/tcp: 8448
  80/tcp: 8085
ports_description:
  80/tcp: Web interface http
  443/tcp: SSL Web interface
