---
name: pterodactyl Panel Gameserver - BETA
version: 0.9.2
slug: pterodactyl_panel
description: Open-Source Gameserver - Currently not fully working
url: https://github.com/FaserF/hassio-addons/tree/master/pterodactyl-panel
arch:
  - aarch64
  - amd64
image: ghcr.io/faserf/pterodactyl-panel-{arch}
services:
  - mysql:need
# webui: "[PROTO:ssl]://[HOST]:[PORT:80]"
map:
  - share:rw
  - ssl
ingress: true
ingress_port: 80
init: false
panel_icon: mdi:controller
options:
  password: ""
  ssl: true
  certfile: fullchain.pem
  keyfile: privkey.pem
  log_level: info
schema:
  password: password
  ssl: bool
  certfile: str
  keyfile: str
  log_level: list(trace|debug|info|notice|warning|error|fatal)
  reset_database: bool?
ports:
  "443": 443
  80/tcp: 80
ports_description:
  80/tcp: Web interface http
  443/tcp: SSL Web interface
