# Ignore folders.
megalinter-reports/
github_conf/
all_build_yamls.txt

# Python
__pycache__/
*.py[cod]
*$py.class

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# IDE / Editor
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db
Desktop.ini

# Logs
*.log
compliance.log
*output.txt
markdown_report.txt
shellcheck_*.txt

# Node.js
node_modules/
package-lock.json
package.json

# Local Artifacts
*.bak
*.exe
