.git
.github
.unsupported
**/.unsupported/**
node_modules
dist
build
__pycache__
*.pyc

# Home Assistant Add-on specific files (have strict HA formatting requirements)
**/config.yaml
**/config.json
**/build.yaml
.mypy_cache
.pytest_cache
venv
**/venv/**
**/.mypy_cache/**
**/.pytest_cache/**