---
name: Apache2 Minimal
version: 3.1.3
slug: apache2-minimal
description: Open Source Webserver without PHP and minimal extra modules.
url: https://github.com/FaserF/hassio-addons/tree/master/apache2-minimal
arch:
  - aarch64
  - amd64
image: ghcr.io/faserf/hassio-addons-apache2-minimal-{arch}
map:
  - ssl:rw
  - media:rw
  - share:rw
ingress: true
ingress_port: 80
init: false
panel_icon: mdi:web-box
options:
  document_root: /share/htdocs
  default_conf: default
  default_ssl_conf: default
  website_name: "web.local"
  ssl: true
  certfile: fullchain.pem
  keyfile: privkey.pem
  init_commands: []
schema:
  document_root: str
  default_conf: str
  default_ssl_conf: str
  website_name: str
  username: str?
  password: password?
  ssl: bool
  certfile: str
  keyfile: str
  init_commands:
    - str?
ports:
  80/tcp: 80
  443/tcp: 8324
ports_description:
  80/tcp: Web interface http
  443/tcp: SSL Web interface
