---
name: Wiki.JS
version: 3.3.1
slug: wiki.js
image: ghcr.io/faserf/hassio-addons-wiki-{arch}
description: The most powerful and extensible open source Wiki software
url: https://github.com/FaserF/hassio-addons/tree/master/wiki.js
arch:
  - aarch64
  - amd64
services:
  - mysql:need
map:
  - ssl
  - addon_config:rw
ingress: true
ingress_port: 3010
init: false
panel_icon: mdi:wikipedia
options:
  ssl: true
  certfile: fullchain.pem
  keyfile: privkey.pem
  log_level: info
  reset_database: false
  reset_database_confirm: false
schema:
  ssl: bool
  certfile: str
  keyfile: str
  log_level: list(trace|debug|info|notice|warning|error|fatal)?
  reset_database: bool?
  reset_database_confirm: bool?
ports:
  3010/tcp: 3000
  3443/tcp: 3443
ports_description:
  3010/tcp: HTTP Entrance port (internal port 3010, external port 3000)
  3443/tcp: HTTPS/SSL Entrance port
