name: Vaultwarden (Custom)
version: dev
slug: vaultwarden
description: Open source password management solution (Custom Build)
url: https://github.com/faserf/hassio-addons
webui: "[PROTO:ssl]://[HOST]:[PORT:7277]"
init: false
arch:
  - aarch64
  - amd64
ports:
  7277/tcp: 7277
ports_description:
  7277/tcp: Vaultwarden Web interface
map:
  - ssl
options:
  log_level: info
  ssl: true
  certfile: fullchain.pem
  keyfile: privkey.pem
schema:
  log_level: list(trace|debug|info|notice|warning|error|fatal)?
  ssl: bool
  certfile: str
  keyfile: str
  request_size_limit: int?
image: ghcr.io/faserf/hassio-addons-vaultwarden-{arch}
