name: Tado Auto Assist
version: 1.6.11
slug: tado_aa
description: Tado Auto-Assist for Geofencing and open Window detection
url: https://github.com/FaserF/hassio-addons/tree/master/tado_aa
arch:
  - armhf
  - armv7
  - aarch64
  - amd64
  - i386
image: ghcr.io/faserf/tado_aa-{arch}
init: false
options:
  username:
  password:
  minTemp: int(5, 25)
  maxTemp: int(5, 25)
  log_level: info
schema:
  username: str
  password: password
  minTemp: int
  maxTemp: int
  log_level: list(info|minimal)?
