---
name: Tado Auto Assist
version: 1.7.2-dev+306affa
slug: tado_aa
description: Tado Auto-Assist for Geofencing and open Window detection
url: https://github.com/FaserF/hassio-addons/tree/master/tado_aa
arch:
  - aarch64
  - amd64
# image: local build only
init: false
options:
  username: ""
  password: ""
  minTemp: 5
  maxTemp: 25
  log_level: info
schema:
  username: str
  password: password
  minTemp: int
  maxTemp: int
  log_level: list(info|minimal)?
