---
name: Netboot.xyz
version: 2.3.0
slug: netboot-xyz
description: PXE-Server to deploy a OS inside your local network
url: https://github.com/FaserF/hassio-addons/tree/master/netboot-xyz
arch:
  - aarch64
  - amd64
image: ghcr.io/faserf/hassio-addons-netboot-xyz-{arch}
host_network: true
ingress: true
ingress_port: 3000
init: false
full_access: true
privileged:
  - NET_ADMIN
map:
  - media:rw
panel_icon: mdi:download-network
options:
  path: "/media/netboot/image"
  path_config: "/media/netboot/config"
  dhcp_range: 192.168.1.200
  log_level: info
schema:
  path: str
  path_config: str
  dhcp_range: str
  log_level: list(trace|debug|info|notice|warning|error|fatal)
ports:
  "85": 85
  "3000": 3000
  69/udp: 69
ports_description:
  "85": "NGINX server for hosting boot assets - REQUIRED for PXE boot! (Fixed port, cannot be changed)"
  "3000": "Web configuration interface - REQUIRED for host_network mode (Fixed port, cannot be changed)"
  69/udp: "TFTP Port - REQUIRED for PXE boot! (Fixed port, cannot be changed)"
