---
name: Netboot.xyz
version: 1.10.2
slug: netboot-xyz
description: PXE-Server to deploy a OS inside your local network
url: https://github.com/FaserF/hassio-addons/tree/master/netboot-xyz
arch:
  - aarch64
  - amd64
image: ghcr.io/faserf/hassio-addons-netboot-xyz-{arch}
host_network: true
# webui: http://[HOST]:[PORT:3000]
ingress: true
ingress_port: 3000
init: false
full_access: true
privileged:
  - NET_ADMIN
map:
  - media:rw
panel_icon: mdi:download-network
options:
  path: "/media/netboot/image"
  path_config: "/media/netboot/config"
  dhcp_range: 192.168.178.200
schema:
  path: str
  path_config: str
  dhcp_range: str
ports:
  "85": 85
  "3000": 3000
  69/udp: 69
ports_description:
  "85": NGINX server for hosting assets
  "3000": Web configuration interface for netboot-xyz - DO NOT CHANGE!
  69/udp: TFTP Port - DO NOT CHANGE!
