---
name: Matterbridge
version: 1.5.2-dev+306affa
slug: matterbridge
description: A simple chat bridge between different messanger apps
url: https://github.com/FaserF/hassio-addons/tree/master/matterbridge
arch:
  - aarch64
  - amd64
# image: local build only
map:
  - share:rw
init: false
panel_icon: mdi:bridge
options:
  config_path: "/share/matterbridge.toml"
  log_level: info
schema:
  config_path: str
  log_level: list(info|debug)?
