name: "ShieldDNS"
version: "1.2.0"
slug: "shielddns"
description: "High-performance DoT proxy for AdGuard Home"
url: "https://github.com/fabia/Project"
startup: services
arch:
  - aarch64
  - amd64
  - armhf
  - armv7
  - i386
boot: auto
host_network: true
map:
  - config:rw
  - ssl:rw
options:
  upstream_dns: "192.168.1.1"
  certfile: "fullchain.pem"
  keyfile: "privkey.pem"
  cloudflare_tunnel_token: ""
  log_level: "info"
  dot_port: 853
  doh_port: 3443
  doh_alt_port_1: 784
  doh_alt_port_2: 2443
schema:
  upstream_dns: str
  certfile: str
  keyfile: str
  cloudflare_tunnel_token: str?
  log_level: list(debug|info|error|warning)
  dot_port: port
  doh_port: port
  doh_alt_port_1: port
  doh_alt_port_2: port
# ports:
#   853/tcp: 853
#   443/tcp: 3443
#   784/tcp: 784
#   2443/tcp: 2443
# image: "ghcr.io/faserf/shielddns" # Disabled for local dev / bashio build
