---
name: NGINX (Edge)
version: 0.3.1-dev-c70fff0
slug: nginx
description: Open Source Webserver with PHP and MariaDB.
url: https://github.com/FaserF/hassio-addons/tree/master/nginx
arch:
  - aarch64
  - amd64
# webui: http://[HOST]:[PORT:80]
map:
  - ssl:rw
  - share:rw
ingress: true
ingress_port: 80
hassio_api: true
init: false
panel_icon: mdi:web-box
options:
  document_root: /share/htdocs
  php_ini: default
  default_conf: default
  default_ssl_conf: default
  website_name: "web.local"
  ssl: false
  certfile: fullchain.pem
  keyfile: privkey.pem
  log_level: info
  init_commands: []
schema:
  document_root: str
  php_ini: str
  default_conf: str
  default_ssl_conf: str
  website_name: str
  username: str?
  password: password?
  ssl: bool
  certfile: str
  keyfile: str
  log_level: list(trace|debug|info|notice|warning|error|fatal)
  init_commands:
    - str?
ports:
  80/tcp: 10080
  443/tcp: 18324
ports_description:
  80/tcp: Web interface http
  443/tcp: SSL Web interface
