---
name: tuya-convert BETA
version: 0.1.8
slug: tuya-convert
description: >-
  Tuya Convert - Flash Tuya devices with open Source software (Beta/Deprecated)
url: https://github.com/FaserF/hassio-addons/tree/master/tuya-convert
arch:
  - aarch64
  - amd64
startup: services
map:
  - share:rw
host_network: true
init: false
privileged:
  - NET_ADMIN
options:
  backup_path: "/share/tuya-convert/"
  firmware: tasmota.bin
  accept_eula: "false"
schema:
  backup_path: str
  firmware: str
  accept_eula: str
