name: tuya-convert BETA
version: 0.1.7
slug: tuya-convert
description: Tuya Convert - Flash Tuya / Smart Life devices with open Source software. Beta and not being worked on anymore!
url: https://github.com/FaserF/hassio-addons/tree/master/tuya-convert
arch:
  - aarch64
  - amd64
startup: services
map:
  - share:rw
host_network: true
init: false
privileged:
  - NET_ADMIN
options:
  backup_path: "/share/tuya-convert/"
  firmware: tasmota.bin
  accept_eula: "false"
schema:
  backup_path: str
  firmware: str
  accept_eula: str
