name: Convert CRLF to LF

on:
  workflow_call:
  workflow_dispatch:

jobs:
  crlf-to-lf:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository contents
        uses: actions/checkout@v5

      - name: Use action to check for CRLF endings
        uses: erclu/check-crlf@master

      - name: Commit if needed
        uses: EndBug/add-and-commit@v9
        with:
          message: "Github bot : CRLF corrected"
          default_author: github_actions

  fix-crlf:
    name: Fix CRLF Endings
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository contents
        uses: actions/checkout@v5
      - name: Find files with CRLF endings
        uses: erclu/check-crlf@master
        id: check-crlf
      - name: Apply dos2unix to files with CRLF endings
        run: |
          # Loop through each file and apply dos2unix
          # shellcheck disable=SC2043
          for f in ${{ steps.check-crlf.outputs.files }}; do
            # Apply dos2unix and keep the original timestamp
            dos2unix -k "$f"
          done
      - name: Commit if needed
        uses: EndBug/add-and-commit@v9
        with:
          message: "Github bot : CRLF corrected"
          default_author: github_actions
